@import "./variables";
@import "./reset";
@import "./mixins";
body,html{
  height: 100%;
}
#app{
  display: flex;
  flex-direction: column;
  height: 100%;
}
main{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.module-container{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.row-wrapper-4{
  width: 100%;
  padding-top: 25%;
  position: relative;
}
.row-wrapper{
  width: 100%;
  position: relative;
  .clearfix()
}

.row-item-2,.row-item-3{
  float: left;
  width: 50%;
  .blank{
    width: 100%;
  }
  .row-img-wrapper{
    position: relative;
  }
  .row-img{
    .allScreen();
    img{
      width: 100%;
    }
  }
  .row-title{
    padding: 5px 10px 0;
    margin-bottom: 15px;
  }
}
.row-item-3{
  width: 33.3333%;
}

